name: Mark stale PRs & Issues

on:
  schedule:
  - cron: 0 0 * * *  # Runs at 00:00 UTC every day.

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    if: github.repository == 'ethereum/eips'
    runs-on: ubuntu-latest
    name: Mark Stale Issues
    steps:
    - uses: actions/stale@c4a13d8dca059f5b6e32f5cb631f621870106178
      with:
        # General
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        ascending: true
        # Issue config
        stale-issue-message: There has been no activity on this issue for 1 week. It will be closed after 3 months of inactivity.
        close-issue-message: This issue was closed due to inactivity. If you are still pursuing it, feel free to reopen it and respond to any feedback.
        days-before-issue-stale: 7
        days-before-issue-close: 21
        stale-issue-label: stale
        # PR config
        stale-pr-message: There has been no activity on this pull request for 2 weeks. It will be closed after 3 months of inactivity. If you would like to move this PR forward, please respond to any outstanding feedback or add a comment indicating that you have addressed all required feedback and are ready for a review.
        close-pr-message: This pull request was closed due to inactivity. If you are still pursuing it, feel free to reopen it and respond to any feedback or request a review in a comment.
        days-before-pr-stale: 7
        days-before-pr-close: 21
        stale-pr-label: stale
